#content{
	margin-top: 30px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 2px 5px #ccc; 
	padding: 0;
	overflow: hidden;
}
#header
{
	background: #E03137;
	color:white;
	margin: 0;
	height: 90px;
	line-height: 90px;
}
#header h1{
	display: block;
	line-height: 60px;
	font-weight: bold;
	font-size: 30px;
}
#nav
{
	padding: 0;
	margin:0;
	background: rgba(224, 49, 55, 0.77);
}
#nav ul
{
	margin:0;
	list-style: none;
	padding-left: 20px;
}
#nav ul li
{
	float: left;
	margin-right: 20px;
	
}
#nav ul li a
{
	color: white;
	height: 30px;
	display: block;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	transition: all 400ms;
}
#nav ul li a:hover
{
	text-decoration: none !important;
	background: #E03137 !important;

}
.activado
{
	text-decoration: none !important;
	background: #E03137 !important;
	border-bottom: 4px solid yellow !important;
}
#main .jumbotron{
	padding: 50px;
	margin-top: 30px;
	border-radius: 20px;
}
#form-producto label
{
	margin-top: 10px;
}

#footer
{
	margin-top:50px;
	border-top:1px solid #eee;
	padding-top: 10px;
	color:gray;
}
